<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlx.serestaurant.mapper.ManagerMapper">
    <delete id="deleteStaff" parameterType="java.lang.Integer">
        delete from Staff where staff_id = #{staffId}
    </delete>
    <select id="findStaffById" resultType="com.zlx.serestaurant.bean.Staff">
        select * from Staff where staff_id = #{staffId}
    </select>
    <update id="adjustStaffSalary">
        update Staff set salary = #{newSalary} where staff_id = #{staffId}
    </update>
    <update id="adjustStaffRole">
        update Staff set role = #{newRole} where staff_id = #{staffId}
    </update>
    <select id="turnoverByday" resultType="com.zlx.serestaurant.bean.Order">
        select * from `order` where order_date like "${date}%"
    </select>
    <select id="findAllStaff" resultType="com.zlx.serestaurant.bean.Staff">
        select * from Staff
    </select>
</mapper>